{% extends 'home/layout.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

  {#   <header class="min-vh-100 d-flex flex-column align-items-center justify-content-evenly">
        <article class="fs-3 text-center container-fluid shadow-lg">
            <p class="h1 fw-bold text-header">
                <span class="d-block">VroDou</span>
                <span class="">Photographe Amateur</span>
            </p>
            <div class="fs-5 py-3">
                All
                <i class="fa-solid fa-camera-retro"></i>
                Are Taken By Me
                <i class="fa-solid fa-face-grin-wink"></i>
                <i class="fa-solid fa-location-dot"></i>Paris 🇨🇵 Nature
                <i class="fa-solid fa-seedling"></i>
                <i class="fa-solid fa-tree"></i>
                Insectes
                <i class="fa-solid fa-bug"></i>
                Animaux
                <i class="fa-solid fa-paw"></i>
                <i class="fa-solid fa-crow"></i>Passionnée De
                <i class="fa-solid fa-camera-retro"></i>
            </div>
        </article>
    <a href="{{path('app_blogpost')}}" class="btn btn-primary btn-lg shadow">Voir mon travail</a>
        <p class="btn btn-danger fs-4 shadow">Me suivre sur instagram
            <i class="fa-brands fa-square-instagram"></i>
        </p>
    </header> #}

    {% include "components/organisms/heroSection.html.twig" %}
    
{% endblock %}
