{% extends 'base.html.twig' %}

{% block title %}Hello BlogpostController!
{% endblock %}

{% block body %}
	<!-- Container for demo purpose -->
	<div
		class="container my-24 mx-auto md:px-6">
		<!-- Section: Design Block -->
		<section class="mb-32">
			<style>
				.zoom:hover img {
					transform: scale(1.1);
				}
			</style>
			<h2 class="mb-12 text-center text-3xl font-bold">Mes photos</h2>

			<div class="grid gap-6 lg:grid-cols-6">
				{% for blogpost in blogposts %}
					<div class="zoom relative overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 h-5/6" data-te-ripple-init data-te-ripple-color="light">
						<img src="{{asset ('images/blogposts/' ~ blogpost.file)}}" class="w-full align-middle transition duration-300 ease-linear"/>
						<a href="#!">
							<div class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-[hsla(0,0%,0%,0.4)] bg-fixed">
								<div class="flex h-full items-end justify-start">
									<div class="m-6 text-white">
										<h5 class="mb-3 text-lg font-bold">{{blogpost.name}}</h5>
										<p>
											<small>Publié le
												<u>{{blogpost.createdAt | date}}</u>
												par {{PHOTOGRAPHE}}</small>
										</p>
									</div>
								</div>
							</div>
							<div class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed transition duration-300 ease-in-out hover:bg-[hsla(0,0%,99%,0.15)]"></div>
						</a>
					</div>
				{% endfor %}


			</div>
		</section>
		<!-- Section: Design Block -->
	</div>
	<!-- Container for demo purpose -->


	{# {{component('blogpost_search')}} #}


{% endblock %}
