<div class="col d-flex justify-content-center">
    <div class="card overflow-hidden" style="width: 18rem;">
        <img src="{{ asset ('images/blogposts/' ~ blogpost.file)}}" alt="{{blogpost.name}}" class="card-image-top" style="width: 18rem; height:18rem">
        <div class="card-body bg-green-900 text-center fw-bold">
            <p class="card-text text-light">{{blogpost.name}}</p>
            {% for category in blogpost.category %}
                <input type="checkbox" class="btn-check" id="{{category}}" autocomplete="off" value="{{category}}" data-model="query">
                <label class="btn btn-sm btn-success" for="{{category}}">{{category}}</label>
            {% endfor %}
        </div>
    </div>
</div>
